/node_modules
/public/hot
/public/storage
/public/js
/public/mix-manifest.json
/public/css
/storage/*.key
/storage/cookies.txt
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
/.osp
/Apache
/Nginx
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.htaccess
.htpasswd
package-lock.json
/storage/cookies.txt
nohup.out
composer.phar
composer.lock
