COMPOSE_PROJECT_NAME=medvisement1

# Локальный сайт
SERVER_NAME=_
# На сервере с доменом
# SERVER_NAME=_example.com

# Юзер
APP_UID=1000
APP_GID=1000
APP_USER=medvisement

# Профили локалка
# COMPOSE_PROFILES=mailpit
# Профили тест
# COMPOSE_PROFILES=mailpit,php-cron,php-workerman
# Профили прод
# COMPOSE_PROFILES=php-cron,php-workerman

# БД
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=medvisement
MYSQL_USER=medvisement
MYSQL_PASSWORD=change_me

# Nginx
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_ELASTIC_PORT=9100

# Mailpit
MAILPIT_AUTH=change_me
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

# Elasticsearch
ES_INDEX=localhost-post-1

# OTP Логин
OTP_WM_CHANNEL_PORT=2401
OTP_WM_WEBSOCKET_PORT=2402
OTP_WM_HTTP_PORT=2403
