.env
.env.*
!.env.example

.DS_Store
core.*
*.log
**/logs/
**/tmp/

docker/nginx/ssl/*
docker/nginx/www/*
docker/nginx/letsencrypt/
**/.htpasswd

app/wp-config.php
app/wp-content/uploads/
app/wp-content/cache/
app/wp-content/upgrade/
app/wp-content/ai1wm-backups/
app/wp-content/backups/

docker/elasticsearch/data/
docker/elasticsearch/data/*

git-auth/

**/.git/
**/__pycache__/
**/node_modules/
*.py[cod]

parser/data/
parser_en/data/
parser_en/session_data/
parser_lk/data/

*.db
*.sqlite
*.sqlite3
*.sql
*.sql.gz

.idea/
